<div class="containers">
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-form-field>
      <mat-label>Ubicación (Ciudad)</mat-label>
      <input matInput placeholder="Sao Paulo" formControlName="city"/>
      <mat-icon matSuffix>location_on</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Escoge un día</mat-label>
      <input matInput [matDatepicker]="dp" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="dp"
      ></mat-datepicker-toggle>
      <mat-datepicker #dp></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="accent">Buscar</button>
  </form>
</div>
