<div class="container">
  <div>
    <mat-form-field>
      <mat-label>Ubicación</mat-label>
      <input matInput placeholder="Placeholder" />
      <mat-icon matSuffix>location_on</mat-icon>
      <mat-hint>Ciudad</mat-hint>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Escoge un día</mat-label>
      <input matInput [matDatepicker]="picker" />
      <mat-hint>MM/DD/AAAA</mat-hint>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="accent">Search</button>
  </div>
</div>
