.containers {
  background: linear-gradient(270deg, #7ebfbf 24.28%, #b2cce3 99.79%);
  padding: 2.5rem 0;
}

.containers > form {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

mat-form-field {
  flex: 4;
}

button {
  flex: 1;
  height: 3.5rem;
}
