<div
  class="bg-custom-white p-3 h-full flex flex-col gap-2 justify-between hover:bg-amber-50 transition-colors duration-300"
>
  <div>
    <img
      class="aspect-[9/10] object-cover block w-full"
      [src]="product['image-url']"
      alt="Ramos Frutales DecoFruit"
    />
    <div class="py-2">
      <p class="text-2xl text-center mb-1">${{ product["price"] }}</p>
      <h3 class="font-bold text-center text-lg mb-2.5">
        {{ product["product-name"] }}
      </h3>
      <p>{{ product["description"] }}</p>
    </div>
  </div>
  <div>
    <a
      mat-stroked-button
      color="accent"
      class="w-full mb-2"
      [routerLink]="'/product/' + product.id"
    >
      Ver producto
    </a>
    <button
      mat-stroked-button
      color="accent"
      class="w-full"
      (click)="openAlert(product['product-name'])"
    >
      Comprar ahora
    </button>
  </div>
</div>
