
.banner {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: #f1f2ed;
  padding: 20px;
  color: #fff;
}

.categories {
  text-align: center;
  margin-top: 20px;
}

.featured-products {
  text-align: center;
  margin-top: 20px;
}

.kristi-regular {
  font-family: "Kristi", cursive;
  font-weight: 400;
  font-style: normal;
  color: black;
}

img{
  height: 200px;
}
