<section>
  <h2>Categorias</h2>
  <ul>
    <app-category
      [categoryName]="'Aniversario'"
      [imgUrl]="
        'https://media.admagazine.com/photos/641239e4d3f4fe9a251b2477/1:1/w_1999,h_1999,c_limit/destinos-para-bodas.jpg'
      "
    />
    <app-category
      [categoryName]="'Navidad'"
      [imgUrl]="
        'https://elperuano.pe/fotografia/thumbnail/2023/03/06/000238646M.jpg'
      "
    />
    <app-category
      [categoryName]="'Cumpleaños'"
      [imgUrl]="
        'https://static.vecteezy.com/system/resources/thumbnails/022/528/019/small/birthday-party-balloon-background-illustration-ai-generative-free-photo.jpg'
      "
    />
    <app-category
      [categoryName]="'Día de las madres'"
      [imgUrl]="
        'https://upload.wikimedia.org/wikipedia/commons/1/1a/Mum_and_Cubs.jpg'
      "
    />
  </ul>
</section>
